<style>
    .downloadmanager-module ul.menu,
    .downloadmanager-module ul.menu li {
        list-style-position: inside !important;
        list-style-type: disc !important;
        margin: 16px !important;
    }
    .downloadmanager-module h2 {
        margin-top: 16px !important;
        margin-bottom: 16px !important;
    }
    .downloadmanager-module .introduction {
        margin-bottom: 16px !important;
    }
    .downloadmanager-module .menu.top {
        border-bottom: 1px solid #3f3f3f;
    }
    .downloadmanager-module .menu.bottom {
        border-top: 1px solid #3f3f3f;
    }

</style>